*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}
body{
    font-family: Verdana, sans-serif;
    font-size: 13px;
    line-height: 1.5em;
    font-weight: 500;
    color: #7e192a;
    background: #1b1b44;
}
.clearfix{
    clear: both;
}
.container{
    width: 330px;
    min-height: 400px;
    background: beige;
    overflow: auto;
    border: 2px solid black;
    border-radius: 10px;
    margin: 60px auto;
}
.audio-image{
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    height: 220px;
}
.audio-info{
    text-align: center;
}
.audio-info .artist {
    font-weight: 600;
}
.cover{
    width: 100%;
    z-index: 1;
}
input#volume{
    width: 70%;
    -webkit-appearance: none !important;
    margin-left: 20%;
    background-color: #606060;
    height: 1px;
    margin-bottom: 20px;

}
input#volume::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: url(./photos/knob.png) no-repeat;
    height: 12px;
    width: 12px;
}
#volumeIcon img{
    width: 40px;
    height: auto;
}
#volumeIcon{
    margin-left: 6%;
    float: left;
}
.audio-btn{
    width: 85%;
    display: inline-block;
    margin-left: 24px;
    margin-bottom: 10px;
    overflow: auto;
}
#play{
    width: 70px;
    height: 70px;
    background: url(./photos/playButton.png);
    background-size: contain;
    float: left;
}
#pause{
    width: 70px;
    height: 70px;
    background: url(./photos/pauseButton.png);
    background-size: contain;
    float: left;
}
#stop{
    width: 70px;
    height: 70px;
    background: url(./photos/stopButton.png);
    background-size: contain;
    float: left;
}
#prev{
    width: 70px;
    height: 70px;
    background: url(./photos/prevButton.png);
    background-size: contain;
    float: left;
}
#next{
    width: 70px;
    height: 70px;
    background: url(./photos/nextButton.png);
    background-size: contain;
    float: right;
}
#play:hover, #pause:hover, #stop:hover, #prev:hover, #next:hover{
    cursor:pointer;
}
.playlist{
    list-style: none;
    padding: 8px;
}
.playlist li{
    cursor: pointer;
    margin: 4px;
}
.playlist li.active{
    font-weight: 600;
    padding: 3px;
    border: 1px solid grey;
    border-radius: 6px;
}
.progressBar{
    width: 85%;
    margin-left: 2%;
    margin-bottom: 20px;
    margin-top: 12px;
    height: 10px;
    background: url(./photos/progress_bg.png) no-repeat;
    float: left;
}
.progress{
    background: url(./photos/progress.png) no-repeat;
    height: 10px;
    display: inline-block;
}
.duration{
    position: absolute;
    top: 0;
    right: 10px;
    padding: 4px 6px;
    background: #1a1a41;
    color: #ffffff;
    border-radius: 5px;
}
.tracker{
    position: relative;
    width: 100%;
    margin-top: 4px;
}